{% extends "login.html" %}
{% block title %}Movie {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
    <h1 style="text-align:center">Movie Explorer</h1>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>


    <h1 class="title">
        Welcome!
    </h1>


    <b><em>
            <p class=a style="text-align:center"> {{moviename}}</p1>
        </em></b>
    <b><em>
            <p class=b style="text-align:center"> {{movietag}}</p>
        </em></b>
    <b>
        <p style="text-align:center">Genres: {{moviegenre}}</p>
    </b>

    <img src={{piclink+moviepicture}}> </img>

    <form method="POST" action="/ratecard">

        <p style="text-align:center"><b>PLEASE RATE AND COMMENT HERE 1-10</p></b>
        <p style="text-align:center">Rate:<input type="number" name="rating" min="1" max="10"></p>
        <p style="text-align:center">Comment:<input type="text" name="comment" /></p>
        <p style="text-align:center"><input type="submit" value="Add a rating" /></p>
    </form>




    <ol>
        <p style="text-align:center">Users Signed Up:</p>
        {% for i in range(num_users) %}
        <p style="text-align:center"><b>{{users[i].username}}</b></p>
        {% endfor %}
        <p style="text-align:center"><b>Rates & Comments Below (Please Make sure to specify which movie you rate)</b>
        </p>
        {% for i in range(num_rates) %}

        <p style="text-align:center">Rating:{{rates[i].rating}}</p>
        <p style="text-align:center">Comment:{{comments[i].comment}}</p>
        {% endfor %}

    </ol>

    <h2 style="text-align:center"> Click the link below for more information (Wikipedia) </h2>
    <b><em>
            <p class=c style="text-align:center"> <a href={{wiki}} target="_blank">Wikipedia Link!</a></p>
        </em></b>

</body>



</html>

{% endblock %}